@model OnlineOrderCart.Common.Entities.TypeofPayments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TypeofPayments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" onsubmit="showPleaseWait();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeofPaymentId" />
            <partial name="_TypeofPayments" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" style="border-radius: 60px;" />
                <a asp-action="Index" style="border-radius: 60px;" class="btn btn-outline-secondary" onclick="showPleaseWait();">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
