@model OrderVerificationViewModel
@{
    ViewData["Title"] = "OrderVerificationViewModel";
}
@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />*@
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<br />

<div class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <flash dismissable="true" />
    <form asp-action="OrderVerification" method="post">
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="Observations" class="control-label"></label>
                <input asp-for="Observations" class="form-control" placeholder="Observations" style="border-radius: 60px;" />
                @Html.ValidationMessageFor(model => model.Observations, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group col-md-12">
                    <label asp-for="KamId" class="control-label"></label>
                    <select asp-for="KamId" asp-items="Model.CombosKams" class="form-control" style="float: left;text-align: center;border-radius: 60px;"></select>
                    <span asp-validation-for="KamId" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group col-md-12">
                    <label asp-for="DistributorId" class="control-label"></label>
                    <select asp-for="DistributorId" asp-items="Model.CombosDistributors" class="form-control" style="float: left;text-align: center;border-radius: 60px;"></select>
                    <span asp-validation-for="DistributorId" class="text-danger"></span>
                </div>
            </div>
                <div class="w-100"></div>
                <br />
                <div class="col">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-outline-danger" style="float: left;text-align: center;border-radius: 60px;"><i class="far fa-save"></i> Save Record</button>
                        <a asp-action="Index" class="btn btn-outline-secondary" style="border-radius: 60px;"><i class="fab fa-battle-net"></i> Back to List</a>
                    </div>
                </div>
            </div>

</form>
</div>

<div class="container-fluid">
    <br />
    <div class="card text-center" style="width: 78rem;">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title">Order generation and shipping</h5>
            <div style="width:100%; margin:0 auto;">
                <table class="display table-bordered table-condensed table-hover table-striped" id="example" style="width:100%">
                    <thead>
                        <tr>
                            <th>No. de Deudor</th>
                            <th>Nombre del cliente</th>
                            <th>No. de Sucursal de envío</th>
                            <th>Nombre sucursal de envío</th>
                            <th>SKU</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>METODO DE PAGO</th>
                            <th>USO CFDI</th>
                            <th>Clave Pedido</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>*@
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#example').DataTable({
            //    //"order": [[2, "desc"]],
            //    //"lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            //});
            var item = "<option value='0'>Seleccionar un Distribuidor</option>";
            $("#DistributorId").html(item);
            $('#KamId').change(function () {
                var url = '@Url.Content("~/")' + "GenerateaNormalOrder/GetSubOnDist";
                var ddlsource = "#KamId";
                $.getJSON(url, { KamId: $(ddlsource).val() }, function (data) {
                    var Ditems = '';
                    $('#DistributorId').empty();
                    $.each(data, function (i, product) {
                        Ditems += "<option value='" + product.value + "'>" + product.text + "</option>";
                    });
                    $('#DistributorId').html(Ditems);
                });
            });

            
            $("#DistributorId").on("change", function () {
                var distributorId = $("#DistributorId").val();
                console.log(distributorId);
                 GetSpecialistDetails();
             });
        });


        function GetSpecialistDetails() {
            //var DDistributorId = $.trim($("#DistributorId").val());https://www.aspsnippets.com/Articles/Bind-JSON-data-to-View-in-ASPNet-MVC.aspx

            var distributorId = $("#DistributorId").val();

            var jsonInput = { DistributorId: $("#DistributorId").val() };

            console.log(distributorId);
            var parameters = "{'DistributorId':'" + $("#DistributorId").val() + "'}";
            $.ajax({
                type: "POST",
                url: "/GenerateaNormalOrder/SpecialistDetails/",
                /* data: "{distributorId:'" + distributorId + "'}",*/
                /* data: parameters,*/
                data: { jsonInput: JSON.stringify(jsonInput) },
                traditional: true,
               /* dataType: "json",*/
                /*contentType: "application/json; charset=utf-8",*/
                success: function (datas) {
                    console.log(datas);
                    var table = $("#example");
                    table.find("tr:not(:first)").remove();
                    if (datas.length != 0) {
                        $.each(datas, function (i, data) {
                            var table = $("#example");
                            var row = table[0].insertRow(-1);
                            $(row).append("<td />");
                            $(row).find("td").eq(0).html(data.Debtor);
                            $(row).append("<td />");
                            $(row).find("td").eq(1).html(data.BusinessName);
                            $(row).append("<td />");
                            $(row).find("td").eq(2).html(data.ShippingBranchNo);
                            $(row).append("<td />");
                            $(row).find("td").eq(3).html(data.ShippingBranchName);
                            $(row).append("<td />");
                            $(row).find("td").eq(4).html(data.OraclepId);
                            $(row).append("<td />");
                            $(row).find("td").eq(5).html(data.DeatilProducts);
                            $(row).append("<td />");
                            $(row).find("td").eq(6).html(data.Quantity);
                            $(row).append("<td />");
                            $(row).find("td").eq(7).html(data.PaymentMethod);
                            $(row).append("<td />");
                            $(row).find("td").eq(8).html(data.UseCfdi);
                            $(row).append("<td />");
                            $(row).find("td").eq(9).html(data.OrderCode);
                        });
                    } else {
                        alert("No data requested   !");
                    }
                }
            });
        }
        function OnSuccess(response) {
            console.log(response);
            $("#example").DataTable(
                {
                    bLengthChange: true,
                    lengthMenu: [[3,5, 10, -1], [3,5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: response,
                    columns: [{ 'data': 'OrderDetailTmpId' },
                        { 'data': 'Debtor' },
                        { 'data': 'BusinessName' },
                        { 'data': 'ShippingBranchNo' },
                        { 'data': 'ShippingBranchName' },
                        { 'data': 'ContactName' },
                        { 'data': 'OraclepId' },
                        { 'data': 'DeatilProducts' },
                        { 'data': 'Quantity' },
                        { 'data': 'PaymentMethod' },
                        { 'data': 'UseCfdi' },
                        { 'data': 'OrderCode' }]
                });
        };
    </script>
}
