@model DeliverOrderIncentiveViewModel
@{
    ViewData["Title"] = "DeliverOrderIncentive";
    var distributorId = Model.DistributorId;
}
@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css" />

<br />

<div class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="KamId" />
    <flash dismissable="true" />
    <form asp-action="DeliverOrderIncentive" method="post" onsubmit="return showPleaseWait();">
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="Observations" class="control-label"></label>
                <input asp-for="Observations" class="form-control" placeholder="Observations" style="border-radius: 60px;" />
                @Html.ValidationMessageFor(model => model.Observations, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group col-md-12">
                    <label asp-for="DistributorId" class="control-label"></label>
                    <select asp-for="DistributorId" asp-items="Model.CombosDistributors" class="form-control" style="float: left;text-align: center;border-radius: 60px;"></select>
                    <span asp-validation-for="DistributorId" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <br />
            <div class="col">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-outline-danger" style="float: left;text-align: center;border-radius: 60px;"><i class="far fa-save"></i> Save Record</button>
                    @*<a asp-action="DeliverOrderIncentive"  asp-route-id="@distributorId" class="btn btn-outline-warning" style="border-radius: 60px;"><i class="fas fa-check"></i> Verification of order information</a>*@
                    <a asp-action="Index" class="btn btn-outline-secondary" style="border-radius: 60px;" onclick="showPleaseWait();"><i class="fab fa-soundcloud" onclick="showPleaseWait();"></i> Back to List</a>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="container-fluid">
    <br />
    <div class="card text-center" style="width: 82rem;">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title">Send Order Incentive</h5>
            <div style="width:100%; margin:0 auto;">
                <table class="display table-hover" id="example" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No. de Deudor</th>
                            <th>Nombre del cliente</th>
                            <th>No. de Sucursal de envío</th>
                            <th>Nombre sucursal de envío</th>
                            <th>SKU</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>METODO DE PAGO</th>
                            <th>USO CFDI</th>
                            <th>Clave Pedido</th>
                            <th>Descripcion Corta</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>
<br />
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>*@

    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>

    <script src="/js/deleteDialog.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                "processing": true,
                //"order": [[2, "desc"]],
                //"lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            });

            $("#DistributorId").on("change", function () {
                $.ajax({
                    type: 'POST',//id of the state which is used to extract cities
                    url: '/OrderIncentive/SpecialistDetails/',
                    data: { "distributorId": $("#DistributorId").val() },
                    dataType: 'json',
                    success: function (datas) {
                        var tr;
                        var table = $("#example");
                        table.find("tr:not(:first)").remove();
                        //Append each row to html table
                        if (datas.length != 0) {
                            console.log(datas);
                            console.log(datas.length);
                            for (var i = 0; i < datas.length; i++) {
                                console.log(i);
                                tr = $('<tr/>');
                                console.log(datas[i].Debtor);
                                tr.append("<td>" + datas[i].Debtor + "</td>");
                                tr.append("<td>" + datas[i].BusinessName + "</td>");
                                tr.append("<td>" + datas[i].ShippingBranchNo + "</td>");
                                tr.append("<td>" + datas[i].ShippingBranchName + "</td>");
                                tr.append("<td>" + datas[i].OraclepId + "</td>");
                                tr.append("<td>" + datas[i].DeatilProducts + "</td>");
                                tr.append("<td>" + datas[i].Quantity + "</td>");
                                tr.append("<td>" + datas[i].PaymentMethod + "</td>");
                                tr.append("<td>" + datas[i].UseCfdi + "</td>");
                                tr.append("<td>" + datas[i].OrderCode + "</td>");
                                tr.append("<td>" + datas[i].ShortDescription + "</td>");
                                $('#example').append(tr);
                            }
                        }
                        else {
                            alert("Hello");
                            $('#example').append(tr);
                        }
                    },
                    error: function () {
                        alert("Something went wrong call the police");
                    }
                });
            });

        });</script>
}
