@model ProductsType
@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="card text-center border-primary mb-3" style="max-width: 78rem;">
    <div class="card-header">
        <h1>Products Type Creation</h1>
        <flash dismissable="true" />
    </div>
    <form asp-action="Create" onsubmit="showPleaseWait();">
        <div class="card-body text-primary">
            <h5 class="card-title"></h5>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_ProductType" />
        </div>
        <div class="card-footer bg-transparent border-warning">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary" onclick="showPleaseWait();"><i class="far fa-save"></i> Save Record</button>
                <a asp-action="Index" class="btn btn-outline-secondary" onclick="showPleaseWait();"><i class="fas fa-paper-plane"></i> Back to List</a>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

