@model Roles
@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="card text-center mb-3" style="max-width: 78rem;">
    <div class="card-header">
        <h1>Role Edit</h1>
        <flash dismissable="true" />
    </div>
    <form asp-action="Edit" asp-controller="Roles" method="post" onsubmit="showPleaseWait();">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RolId" />
        <input type="hidden" asp-for="IsDeleted" />
        <input type="hidden" asp-for="RegistrationDate" />
        <div class="card-body text-primary">
            <h5 class="card-title"></h5>

            <partial name="_Roles" />
        </div>

        <div class="card-footer bg-transparent border-danger">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary"><i class="far fa-save"></i> Save Record</button>
                <a asp-action="Index" class="btn btn-outline-secondary" onclick="showPleaseWait();"><i class="fas fa-paper-plane"></i> Back to List</a>
            </div>

        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
