@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - @localizer["OnlineOrderCart"] - <a asp-area="" asp-controller="Home" asp-action="Privacy">@localizer["Privacy"]</a>
    </div>
</footer>