@model ActivationsForm
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" placeholder="@localizer["Description"]" style="float: left;text-align: center;" required />
    <span asp-validation-for="@localizer["Description"]" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <label asp-for="CodeKey" class="control-label"></label>
    <input asp-for="CodeKey" class="form-control" placeholder="@localizer["CodeKey"]" style="float: left;text-align: center;" required />
    <span asp-validation-for="@localizer["CodeKey"]" class="text-danger"></span>
</div>
<br />