@model ActivationsForm
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["Edit"];
}

<hr />
<div class="card text-center border-primary mb-3" style="max-width: 78rem;">
    <div class="card-header">
        <h1>@localizer["ActivationsFormEdit"]</h1>
        <flash dismissable="true" />
    </div>
    <form asp-action="Edit" onsubmit="return showPleaseWait();">
        <div class="card-body text-primary">
            <h5 class="card-title"></h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActivationFormId" />
            <input type="hidden" asp-for="IsDeleted" />
            <input type="hidden" asp-for="RegistrationDate" />

            <partial name="_ActivationsForm" />
        </div>
        <div class="card-footer bg-transparent border-warning">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary"><i class="far fa-save"></i> @localizer["SaveRecord"]</button>
                <a asp-action="Index" class="btn btn-outline-secondary" onclick="showPleaseWait();"><i class="fas fa-paper-plane" onclick="showPleaseWait();"></i> @localizer["BacktoList"]</a>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
