
@{
    ViewData["Title"] = "Access Denied";
}


<br />
<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">
        You do not have persmission to view this resource
    </h6>
    <img src="~/image/noaccess.png" style="width:600px; height:600px; max-width: 100%; height: auto;" />
</div>
<br />
