
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>


<br />
<br />

<header>
    <h2 class="text-danger">ViewData["Title"]</h2>
    <img src="~/images/gopher_head-min.png" class="rounded mx-auto d-block" alt="Responsive Postal Code Not Found image" style="width:600px; height:600px; max-width: 100%; height: auto;" />
    <p class="text-danger">You do not have access to this resource.</p>
</header>