@model AddDistributorViewModel
@{
    ViewData["Title"] = "Edit Distributor";
}
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="EditDistributor" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <flash dismissable="true" />
            <input type="hidden" asp-for="KamId" />
            <input type="hidden" asp-for="ImageId" />
            <input type="hidden" asp-for="GenderId" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="DistributorId" />
            <input type="hidden" asp-for="Username" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName1" />
            <input type="hidden" asp-for="LastName2" />
            <input type="hidden" asp-for="PasswordConfirm" />
            <input type="hidden" asp-for="EmployeeNumber" />
            <div class="card border-secondary text-center mb-3" style="max-width: 70rem;">
                <div class="card-header  bg-transparent border-dark">
                    <h2>Edit Distributor</h2>
                </div>
                <div class="card-body text-dark">
                    <div class="form-row">
                        <div class="col-md-6 mb-6">
                            <div class="form-group">
                                <label asp-for="RoleId" class="control-label"></label>
                                <select asp-for="RoleId" asp-items="Model.ComboDisRoles" class="form-control" style="float: left;text-align: center;border-radius: 60px;"></select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div class="col-md-4 mb-6">
                        <div class="form-group">
                            <label asp-for="GenderId" class="control-label"></label>
                            <select asp-for="GenderId" asp-items="Model.ComboGenders" class="form-control" style="float: left;text-align: center;border-radius: 60px;"></select>
                            <span asp-validation-for="GenderId" class="text-danger"></span>
                        </div>
                    </div>*@
                        <div class="col-md-6 mb-6">
                            <div class="form-group">
                                <label asp-for="KamId" class="control-label"></label>
                                <select asp-for="KamId" asp-items="Model.ComboKams" class="form-control" style="float: left;text-align: center;border-radius: 60px;"></select>
                                <span asp-validation-for="KamId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <partial name="_Distributor" />
                    <hr />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="BusinessName" class="control-label"></label>
                                <input asp-for="BusinessName" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder="Business Name" />
                                <span asp-validation-for="BusinessName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="Debtor" class="control-label"></label>
                                <input asp-for="Debtor" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder="Debtor" />
                                <span asp-validation-for="Debtor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="ImageFile" class="control-label"></label>
                                <input asp-for="ImageFile" class="form-control" type="file" accept="image/jpeg, image/png" style="float: left;text-align: center;border-radius: 60px;" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="card-footer  bg-transparent border-secondary text-muted">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary btn-block text-uppercase" style="border-radius: 60px;"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar Registro</button>
                        <a asp-controller="Distributors" asp-action="IndexDistributor" class="btn btn-outline-secondary btn-block text-uppercase" style="border-radius: 60px;"><i class="glyphicon glyphicon-arrow-left"></i> Volver a la Lista</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr />
    <div class="col-md-4" style="border-radius: 60px;">
        <div class="card border-secondary mb-3" style="max-width: 48rem;">
            <div class="card-header bg-transparent border-secondary"></div>
            <div class="card-body text-dark">
                <h5 class="card-title">Avatar</h5>
                <div class="form-group">
                    @*<img class="lazyload" src="@Model.PicturePath" style="width:250px; height:100px; max-width: 100%; height: auto;" id="imagePreview" />*@
                    <img class="lazyload" src="@Url.Content(Model.PicturePath)" alt="Image" style="width:250px;height:100px;max-width: 100%; height: auto; border-radius:50%"  id="imagePreview" />
                </div>
            </div>
            <div class="card-footer bg-transparent border-secondary"></div>
        </div>
    </div>
</div>

<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#verPassword').on('mousedown', function () {
            $('#Password').attr("type", "text");
        });

        $('#verPassword').on('mouseup mouseleave', function () {
            $('#Password').attr("type", "password");
        });
    </script>
}
