@model AddItemViewModel
@{
    ViewData["Title"] = "AddProduct";
}

<form asp-action="AddProduct" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <flash dismissable="true" />
    <input type="hidden" asp-for="Debtor" />
    <input type="hidden" asp-for="DistributorId" />
    @*<input type="hidden" asp-for="Quantity" />*@
    <div class="card text-center border-secondary mb-3" style="max-width: 60rem;">
        <div class="card-header bg-transparent border-danger">
            <h1>Add order of Product</h1>
        </div>
        <div class="card-body text-dark">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="StoreId" class="control-label"></label>
                    <select asp-for="StoreId" asp-items="Model.CombosWarehouses" class="form-control" style="float: left;text-align: center;border-radius: 60px;"></select>
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DeatilStoreId" class="control-label"></label>
                    <select asp-for="DeatilStoreId" asp-items="Model.CombosDWProducts" class="form-control" style="float: left;text-align: center;border-radius: 60px;"></select>
                    <span asp-validation-for="DeatilStoreId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="TypeofPaymentId" class="control-label"></label>
                    <select asp-for="TypeofPaymentId" asp-items="Model.CombosTypeofPayments" class="form-control" style="float: left;text-align: center;border-radius: 60px;"></select>
                    <span asp-validation-for="TypeofPaymentId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="@Model.Quantity" type="number" min="150" max="90000" placeholder="Quantity" class="form-control" style="float: left;text-align: center;border-radius: 60px;" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observations" class="control-label"></label>
                <input asp-for="@Model.Observations" placeholder="Observations" class="form-control" style="float: left;text-align: center;border-radius: 60px;" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="card-footer  bg-transparent border-danger text-muted">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary  btn-sm" style="border-radius: 60px;">Add the Order</button>
                <a asp-action="NewOrder" class="btn btn-outline-secondary btn-sm" style="border-radius: 60px;"><i class="fa fa-accusoft" aria-hidden="true"></i> Back to list</a>
            </div>
        </div>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        // Example starter JavaScript for disabling form submissions if there are invalid fields

        $(document).ready(function () {
            var items = "<option value='0'>Select a Products</option>";
            $("#DeatilStoreId").html(items);
            $("#SAtoreId").change(function () {
                $list = $("#DeatilStoreId");
                $.ajax({
                    type: "POST",//id of the state which is used to extract cities
                    url: '/Orders/OnChangeAutoComplete/',
                    data: { "StoreId": $("#StoreId").val() },
                    traditional: true,
                    success: function (result) {
                        $list.empty();
                        var items = "<option value='0'>Select a Products</option>";
                        $list.html(items);
                        $.each(result, function (i, item) {
                            $list.append('<option value="' + item["DeatilStoreId"] + '">' + item["Description"]+'</option>');
                        });
                    },
                    error: function () {
                        alert("Something went wrong call the police");
                    }
                });
            });

            $('#StoreId').change(function () {
                var url = '@Url.Content("~/")' + "Orders/GetSubProduct";
                var ddlsource = "#StoreId";
                $.getJSON(url, { StoreId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#DeatilStoreId').empty();
                    $.each(data, function (i, product) {
                        items += "<option value='" + product.value + "'>" + product.text + "</option>";
                    });
                    $('#DeatilStoreId').html(items);
                });
            });

            $("#Quantity").change(function () {
                // Print entered value in a div box
                var Quantity = document.getElementById("Quantity").value;
                if (Quantity >= 150) {
                    var rest = Quantity % 10;
                    if (rest == 0) {
                        alert("the amount is valid");
                        $(this).css("background-color", "#EBEDEF");
                        return true;
                    }
                    else {
                        alert("the amount is not valid && Something went wrong call the police");
                        document.getElementById("Quantity").focus();
                        document.getElementById("Quantity").value = 150;
                        $(this).css("background-color", "#CD6155");
                        return false;
                    }
                }
                else {
                    alert('Data not Validation Quantity && Something went wrong call the police');
                    document.getElementById("Quantity").focus();
                    document.getElementById("Quantity").value = 150;
                    $(this).css("background-color", "#F2D7D5");
                    return false;
                }
            });
        });
    </script>
}